<header>スケジュール管理アプリ</header>

<h1>予定一覧</h1>

<% if flash[:notice]%>
<p class="notice"><%=flash[:notice]%></p>
<%end%>

<p><%=link_to"ユーザー新規登録", :new_schedule %></p>
<table>
  <thead>
    <tr>
    <th>id</th>
    <th>タイトル</th>
    <th>開始日</th>
    <th>終了日</th>
    <th>終日</th>
    <th>更新日時</th>
    <th>詳細</th>
    <th>編集</th>
    <th>削除</th>
    </tr>
  </thead>

<tbody>
  <%@schedules.each do|schedule|%>
  <tr>
    <td><%=schedule.id%></td>
    <td><%=schedule.title%></td>
    <td><%=schedule.start_at&.strftime("%Y/%m/%d")%></td>
    <td><%=schedule.end_at&.strftime("%Y/%m/%d")%></td>
    <% if schedule.allday==true %>
    <td>○</td>
    <%else schedule.allday==false %>
    <td></td>
    <%end%> 
    <td><%=schedule.updated_at.strftime("%Y/%m/%d/%H:%M")%></td>
    <td><%=link_to"詳細",schedule%></td>
  　<td><%=link_to"編集",[:edit,schedule]%></td>
 　  <td><%=link_to"削除", schedule, method: :delete, data: { confirm: "本当に削除しますか？" } %></td>>
 </tr>
 <%end%> 
</tbody>
</table>

<div class ="information">

    <a class = "information-1"><%= "合計予定数：#{@schedules.count}件" %></a>

    <a class ="information-2"><%= "本日の日付：#{Date.today.strftime("%Y/%m/%d")}" %></a>

  </div>



